.h1portfolio{
    text-align: center;
    text-decoration: overline;
    text-decoration: underline;
}
.containerAffiche{
    justify-items: center;
}
#beetle, #bat, #ed, #bat2, #mars, #hollow, #plan, #big, #choco, #funebres, #todd, #beetle2{
    justify-items: center;
    padding: 20px;
}
.beetlejuice, .batman, .edward, .batman2, .attacks, .planete, .bigfish, .charlie, .noces, .sweeney, .beetlejuice2{
    width: 200px;
    height: 300px;
}
.h6{
    text-align: center;
    font-size: 1em;
    margin: 5px;
}
