header{
    height:100px;
}

header>div img{
    width: 150%;
}
header nav{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    margin-left: 0;
    font-size: 1.5em;
}

.titreAccueil{
    margin-left: 50px;
}

#presentationTB{
    margin: 50px;
}

/* Pages affiches */
.h1portfolio{
    text-align: center;
    text-decoration: overline;
    text-decoration: underline;
}
.beetlejuice, .batman, .edward, .batman2, .attacks, .planete, .bigfish, .charlie, .noces, .sweeney, .beetlejuice2{
    width: 200px;
    height: 300px;
}

/* Page filmographie */
.container .titreBlog{
    grid-column: 2;
}

.sectionBlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sectionBlog article {
    max-width: 500px;
}

.sectionBlog article h3 {
    height: 20px;
}