body{
    font-family: 'Manrope', sans-serif;
}

header{
    display: grid;
    grid-template-columns: min-content 1fr;
    background-color: darkorange;
}
header>div{
    align-self: center;

}
header>div img{
    width: 100px;
    margin-left: 10px;
}
header nav{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-decoration: none;
    margin-left: 10%;
}

footer{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    background-color: darkorange;
    position:sticky;
    bottom: 0;
    justify-content: center;
}
footer>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#presentationTB{
    display: flex;
    grid-template-columns: 2;
}

#presentationTB img{
    width: 300px;
    margin: 20px;
}

#presentationTB p{
    width: 1fr;
    text-justify:auto;
}

@media screen and (min-width: 1080px){
    header>div img{
        width: 250px;
    }
    header nav{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width:100%;
        margin-left: 0;
        font-size: 1.5em;
    }
    
}