header>div img{
    width: 250px;
}
header nav{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin-left: 0;
    font-size: 1.5em;
}
/* Pages affiches */
.h1portfolio{
    text-align: center;
    text-decoration: overline;
    text-decoration: underline;
}
.beetlejuice, .batman, .edward, .batman2, .attacks, .planete, .bigfish, .charlie, .noces, .sweeney, .beetlejuice2{
    width: 200px;
    height: 300px;
}

/* Page filmographie */

.sectionBlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sectionBlog article {
    max-width: 500px;
}

.sectionBlog article h3 {
    height: 20px;
}