/* CSS pour écran avec largeur supérieure ou égale à 1080px */

/* header avec une hauteur moins grande */
header{
    height:100px;
}

/* agrandissement logo */
header>div img{
    width: 150%;
}
/* le menu passe en vertical plus petit , avec une légère marge entre le logo et le menu*/
header nav{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    margin-left: 0;
    font-size: 1.5em;
}

.titreAccueil{
    margin-left: 50px;
}

#presentationTB{
    margin: 50px;
}

/* Pages affiches */
.h1portfolio{
    text-align: center;
    text-decoration: overline;
    text-decoration: underline;
}
.beetlejuice, .batman, .edward, .batman2, .attacks, .planete, .bigfish, .charlie, .noces, .sweeney, .beetlejuice2{
    width: 200px;
    height: 300px;
}

/* Page filmographie */
/* le contenu principal se décale d'une colonne pour laisse le sommaire prendre la première */
.container .titreBlog{
    grid-column: 2;
}
/* les fiches film sont réparties dans l'affichage en flexbox avec une largeur maximum pour limiter l'étirement*/
.sectionBlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sectionBlog article {
    max-width: 500px;
}

.sectionBlog article h3 {
    height: 20px;
}